/* Globals */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #373b40;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: #ffffff;
  transition: all .5s;
  cursor: pointer;
}

button {
  transition: all .5s;
  cursor: pointer;
}

p {
  color: #f5f5f5;
  line-height: 1.75em;
  text-align: left;
  font-weight: 400;
}

span {
  font-weight: 800;
}

h1,
h2,
h3 {
  color: #ffffff;
  font-weight: 800;
}

h1 {
  font-size: 38px;
}

h3 {
  font-size: 20px;
}

hr {
  width: 100%;
  border: 1px solid #4c5158;
}

section {
  width: 80%;
  max-width: 1300px;
}

.section__header {
  text-align: center;
}

.section__header span {
  color: #68e0cf;
  text-transform: uppercase;
  font-weight: 600;
}

/* Pre-loader */
.loader__bg-1 {
  position: fixed;
  z-index: 2000;
  background-color: #68e0cf;
  width: 100%;
  height: 100%;
  top: 0;
  transition: all 1s ease-in-out;
}

.loader__bg-2 {
  position: fixed;
  z-index: 1000;
  background-color: #373b40;
  width: 100%;
  height: 100%;
  top: 0;
  transition: all 0.5s ease-in-out;
}

.loader {
  border: 0 solid transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50vh - 145px);
  left: calc(50vw - 85px);
}

.loader::before,
.loader::after {
  content: '';
  border: 1em solid #68e0cf;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 2s linear infinite;
  opacity: 0;
}

.loader::before {
  animation-delay: .5s;
}

.timeout {
  top: -100%;
}

.timeout .loader {
  opacity: 0;
}

@keyframes loader {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

/* Navigation menu */
.nav {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #373b40;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  transition: all .5s;
}

.nav__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo-link {
  display: flex;
  align-items: center;
  width: 650px;
}

.nav__logo-icon {
  display: flex;
  background-color: #ffffff;
  color: #7a7a7a;
  font-size: 28px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.nav__logo-text {
  color: #ffffff;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
}

.nav__checkbtn {
  cursor: pointer;
}

.nav__menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all .5s ease-in-out;
  border: 1px solid #b4b6ba;
  border-radius: 50%;
}

.nav__menu-btn-burger {
  width: 25px;
  height: 2px;
  background: #ffffff;
  border-radius: 5px;
  transition: all .5s ease-in-out;
}

.nav__menu-btn-burger::before,
.nav__menu-btn-burger::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #ffffff;
  border-radius: 5px;
  transition: all .5s ease-in-out;
}

.nav__menu-btn-burger::before {
  transform: translateY(-8px);
}

.nav__menu-btn-burger::after {
  transform: translateY(8px);
}

#nav__check {
  display: none;
}

.nav__list {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #585d65;
  top: 85px;
  left: -100%;
  text-align: center;
  transition: all .5s;
  z-index: 3;
}

.nav__list li {
  display: block;
  margin: 50px 0;
}

.nav__list li a {
  font-size: 20px;
  color: white;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  height: 20px;
  overflow: hidden;
}

.nav__list li a span {
  position: relative;
  top: 0;
  transition: top .3s;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__list li a span:nth-child(2) {
  color: #68e0cf;
}

.nav__list li a:hover span,
.nav__list li a:hover span {
  top: -20px;
}

#nav__check:checked~.nav__list {
  left: 0;
}

/* Navigation menu (animation) */
.nav__menu-btn.open .nav__menu-btn-burger {
  background: transparent;
  transform: translate(-50px);
}

.nav__menu-btn.open .nav__menu-btn-burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.nav__menu-btn.open .nav__menu-btn-burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.nav__arrow {
  border: 1px solid #50545c;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.nav__arrow i {
  color: #fff;
  margin-top: 15px;
  transition: color .2s;
}

.nav__arrow:hover i {
  color: #68e0cf;
}

.hidden {
  visibility: hidden;
}

/* First section (welcome) */
.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 130px;
  max-width: 1100px;
}

.welcome__img-container {
  width: 100%;
  max-width: 380px;
  max-height: 380px;
  display: flex;
  justify-content: center;
}

.welcome__img-wrapper {
  height: 0;
  min-width: 230px;
  min-height: 230px;
  width: 100%;
  padding-bottom: 100%;
  background-color: rgba(100, 212, 194, 0.8);
  border-radius: 50%;
}

.welcome__image {
  border-radius: 50%;
  width: 90%;
  height: auto;
  margin-top: 5%;
}

.welcome__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.welcome__text p:first-of-type {
  color: #68e0cf;
  margin-top: 28px;
}

.welcome__text h1 {
  font-size: 30px;
  margin-top: 10px;
}

.welcome__description {
  text-align: justify;
  margin-top: 25px;
}

.welcome__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 50px;
}

.welcome__button {
  height: 60px;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  font-size: 15px;
  color: white;
  margin-left: 10px;
  transition: all .3s;
  display: flex;
  flex-direction: column;
  border: 1px solid #50545c;
}

.welcome__button:hover {
  border: 1px solid #68e0cf;
}

.welcome__button-animation {
  height: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.welcome__button-animation span {
  position: relative;
  top: 0;
  transition: top .3s;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome__button-animation span:nth-child(2) {
  color: #68e0cf;
}

.welcome__button:hover .welcome__button-animation span {
  top: -15px;
}

.welcome__button--download {
  width: 170px;
}

.welcome__button--contact {
  width: 145px;
}

/* Second section (skills) */
.skills {
  padding-top: 50px;
  padding-bottom: 50px;
}

.skills__container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  grid-gap: 2rem;
}

.skills__box {
  width: 100%;
  margin: 15px 0;
}

.skills__box:hover .skills__img {
  transform: translateY(-10px);
}

.skills__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
}

.skills__title h3 {
  border-bottom: 3px solid #68e0cf;
  padding-bottom: 8px;
  margin: 15px;
}

.skills__icons {
  display: flex;
  justify-content: center;
  width: 100%;
}

.skills__img {
  width: 90px;
  height: 90px;
  border-radius: 45px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 0.5s;
  margin: 0 20px;
}

.skills__img img {
  width: 50px;
}


/* Third section (projects) */
.projects {
  padding-top: 50px;
  text-align: center;
  padding-bottom: 50px;
}

.projects__container {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 100%;
  grid-gap: 2rem;
}

.projects__box {
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  border-radius: 10px;
}

.projects__title {
  position: relative;
}

.projects__img {
  position: relative;
  width: 100%;
  padding-bottom: 70%;
  background: #585d65;
  transition: all .3s;
  overflow: hidden;
  height: 0;
}

.projects__img h2 {
  width: 300px;
  position: absolute;
  top: 45%;
  left: calc(50% - 150px);
}

.projects__img img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: contain;
  left: 0;
  top: 0;
}

.projects__box:hover .projects__img {
  transform: scale(1.1);
}

.projects__title h3 {
  background-color: #373b40;
  position: absolute;
  top: 0;
  left: 0;
  margin: 15px;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 12px;
}

.projects__info {
  position: fixed;
  height: 100vh;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: #585d65;
  left: -100%;
  transition: all .5s;
  z-index: 100;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

.projects__info-container {
  width: 80%;
  max-width: 1300px;
  position: relative;
}

.projects__close-img {
  position: absolute;
  top: 25px;
  right: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: 1px solid #b4b6ba;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects__close-img img {
  width: 20px;
  height: 20px;
}

.projects__header {
  margin-top: 100px;
  width: 100%;
}

.projects__header h1 {
  font-size: 30px;
}

.projects__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}

.projects__info-image {
  width: 100%;
}

.projects__info-image img {
  width: 100%;
  height: auto;
}

.projects__links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.projects__links--single {
  justify-content: left;
}

.projects__button {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  font-size: 15px;
  color: white;
  border: 1px solid #fff;
  width: 50%;
  transition: all .3s;
  flex-direction: column;
  margin-left: 10px;
}

.projects__button:hover {
  border: 1px solid #68e0cf;
}

.projects__button-animation {
  height: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.projects__button-animation span {
  position: relative;
  top: 0;
  transition: top .3s;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects__button-animation span:nth-child(2) {
  color: #68e0cf;
}

.projects__button:hover .projects__button-animation span {
  top: -15px;
}

.projects__text h3 {
  margin: 0;
}

.projects__text p {
  margin: 10px 0;
}

.projects__technology {
  width: 100%;
  margin: 25px 0;
  text-align: left;
}

.projects__technology span {
  background-color: #373b40;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 12px;
  color: #ffffff;
  display: inline-block;
  margin-bottom: 7px;
}

.coming-soon {
  font-size: 35px;
  color: #68e0cf;
  text-transform: uppercase;
  font-weight: 800;
  position: absolute;
  top: 50%;
  width: 300px;
  left: calc(50% - 150px);
}

/* Fourth section (contact) */
.contact {
  position: relative;
  padding-top: 50px;
  padding-bottom: 70px;
}

.contact__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.contact__info p {
  margin-bottom: 10px;
}

.contact__info span {
  color: #68e0cf;
  margin-right: 10px;
}

.contact__form {
  width: 100%;
  margin-top: 10px;
}

.contact__form h3 {
  margin-bottom: 10px;
}

.contact__form-group {
  position: relative;
}

.contact__form-group input,
.contact__form-group textarea,
.contact__button {
  border: 1px solid #4c5158;
  padding: 20px;
  border-radius: 20px;
  color: #bababb;
  background-color: #373b40;
  width: 100%;
  margin: 10px 0;
}

.contact__form-group input:focus,
.contact__form-group textarea:focus,
.contact__form-group button:focus {
  outline: none;
}

.contact__form-group textarea {
  resize: none;
}

.contact__form-group span {
  display: block;
  color: white;
  font-size: 13px;
  position: absolute;
  top: 2px;
  left: 30px;
  background-color: #373b40;
  padding: 0 10px;
  text-transform: uppercase;
}

.contact__button {
  font-size: 15px;
  color: #ffffff;
  border-radius: 50px;
}

.contact__button:hover,
.contact__button:active {
  border-color: #68e0cf;
}

.contact__button-animation {
  height: 17px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-top: 2px;
}

.contact__button-animation span {
  position: relative;
  top: 0;
  height: 16px;
  transition: top .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact__button-animation span:nth-child(2) {
  color: #68e0cf;
}

.contact__button:hover .contact__button-animation span {
  top: -17px;
}

/* Footer */
.footer {
  width: 100%;
  margin-bottom: 30px;
}

.footer__links {
  position: relative;
  top: -25px;
  display: flex;
  justify-content: center;
}

.footer__links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #4c5158;
  background-color: #373b40;
  padding: 20px;
  margin: 0 10px;
}

.footer__links a:hover,
.footer__links a:active {
  color: #68e0cf;
}

/* Media queries */

/* Small devices */
@media screen and (min-width: 765px) {
  h1 {
    font-size: 55px;
  }

  .section__header {
    text-align: left;
  }

  /* First section  */
  .welcome {
    flex-direction: row;
    justify-content: center;
    padding-bottom: 100px;
    padding-top: 180px;
  }

  .welcome__img-container {
    width: 40%;
    max-width: 410px;
    max-height: 410px;
    margin-right: 20px;
  }

  .welcome__text {
    width: 55%;
    margin-left: 20px;
    align-items: flex-start;
  }

  .welcome__text h1 {
    margin-top: 5px;
  }

  .welcome__description {
    margin-top: 10px;
    text-align: justify;
  }

  /* Second section */
  .skills__container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
  }

  /* Third section */
  .projects__container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
  }

  .projects__body {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
  }

  .projects__image-and-links {
    width: 50%;
    margin-right: 50px;
  }

  .projects__info-image {
    width: 100%;
  }

  .projects__text {
    width: 50%;
    margin: 0;
  }

  .projects__text h3:first-of-type {
    margin-bottom: 20px;
  }

  .projects__text p {
    margin: 0;
    margin-bottom: 20px;
  }

  /* Fourth section */
  .contact__container {
    flex-direction: row;
  }

  .contact__info {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
  }

  .contact__form {
    margin-top: 0px;
  }

  .contact__form h3 {
    margin-top: 0;
    padding-top: 0;
  }
}

/* Large devices */
@media screen and (min-width: 1280px) {

  /* Navigation menu */
  .nav__list {
    position: static;
    width: auto;
    height: auto;
    background-color: transparent;
    display: flex;
    align-items: center;
  }

  .nav__list li {
    margin: 0;
    margin-left: 20px;
    padding: 7px 13px;
  }

  .nav__list li a {
    font-size: 15px;
  }

  .nav__checkbtn {
    display: none;
  }

  /* Second section */
  .skills__container {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 6rem;
  }

  /* Third section */
  .projects__container {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4rem;
  }
}