* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #ffffff;
}

p {
  color: #f5f5f5;
  line-height: 23px;
  text-align: justify;
}

h1, h2, h3 {
  color: #ffffff;
}

h1 {
  font-size: 38px;
}

h3 {
  font-size: 20px;
}

body {
  background-color: #373b40;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  display: flex;
  padding: 20px;
}

.logo {
  display: flex;
  align-items: center;
  width: 650px;
}

.logo-icon {
  display: flex;
  background-color: #ffffff;
  color:  #7a7a7a;
  font-size: 28px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.logo-text {
  color: #ffffff;
  font-size: 20px;
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
}

.menu-icon {
  margin-left: auto;
}

nav ul{
  display: none;
}

.content {
  width: 75%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 35px;
  border-bottom: 1px solid #4c5158;
}

.welcome-img-container {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: rgba(100, 212, 194, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-image{
  border-radius: 50%;
  background-color: #fff;
}

.welcome-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-text p:first-of-type{
  color: #68e0cf;
  margin-top: 10px;
}

.welcome-text h1 {
  font-size: 30px;
  margin-top: 25px;
}

.welcome-description {
  text-align: justify;
  margin-top: 25px;
}

.welcome-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 50px;
}

.welcome-buttons .contact {
  border: 1px solid #ffffff;
  width: 135px;
  padding: 10px 0;
  border-radius: 50px;
  font-size: 20px;
  display: block;
  margin: 5px;
}

.welcome-buttons .download {
  border: 1px solid #68e0cf;
  width: 135px;
  padding: 10px 0;
  border-radius: 50px;
  font-size: 20px;
  display: block;
  margin: 5px;
}

.welcome-arrow {
  color: #ffffff;
  font-size: 35px;
  position: absolute;
  top: 50%;
  right: 10px;
}

.skills-section {
  margin-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid #4c5158;
}

.skills-header {
  text-align: center;
}

.skills-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  grid-gap: 2rem;
}

.skill-box {
  width: 100%;
}

.skill-box:hover > .skill-title:after,
.skill-box:hover > .skill-title:before {
  width: 35px;
}

.skill-box:hover .skill-img {
  transform: translateY(-10px);
}

.skill-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
}

.skill-title:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 50%;
  width: 0;
  height: 4px;
  border-radius: 2px 0 0 2px;
  background-color: #68e0cf;
  transition: .5s;
}

.skill-title:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 4px;
  border-radius: 0 2px 2px 0;
  background-color: #68e0cf;
  transition: .5s;
}
.skill-img {
  width: 90px;
  height: 90px;
  border-radius: 45px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 0.5s;
}

.skill-icon {
  width: 50px;
}

.skill-title h3 {
  margin: 15px;
}

.projects-section {
  margin-top: 50px;
  text-align: center;
  width: 100%;
}

.projects-container {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 100%;
}

.project-box {
  width: 100%;
}

.project-title {
  position: relative;
}

.project-title .project-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.project-title h3 {
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  margin: 15px;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
}

@media screen and (min-width: 640px) {
  .skills-container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
  }

  .skills-box {
    width: 50%;
  }

  .projects-container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
  }

}

@media screen and (min-width: 1280px) {
  .skills-container {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 6rem;
  }

  .skills-box {
    width: 33.33%;
  }

  .projects-container {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4rem;
  }
}
